<nav class="navbar fixed-top navbar-expand-lg" [class.scrolled]="isScrolled">
  <div class="container-fluid">
    <!-- Marca eliminada -->

    <button class="navbar-toggler" type="button" (click)="toggleMenu()" aria-controls="navbarNav" 
            [attr.aria-expanded]="isMenuOpen" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center" [class.show]="isMenuOpen" id="navbarNav">
      <ul class="navbar-nav gap-3">
        <li class="nav-item">
          <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" 
             class="nav-link fw-semibold" (click)="closeMenu()">Inicio</a>
        </li>
        <li class="nav-item">
          <a routerLink="/about" routerLinkActive="active" class="nav-link fw-semibold" (click)="closeMenu()">Nosotros</a>
        </li>
        <li class="nav-item">
          <a routerLink="/contact" routerLinkActive="active" class="nav-link fw-semibold" (click)="closeMenu()">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
